{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block submenu %}
    <a href="#1">Websites</a>
    <a href="#2">RPGs</a>
    <a href="#3">Writing</a>
    <a href="#4">Images</a>
    <a href="#5">CSS</a>
    <a href="#6" id="activeTab">Stories</a>
{% endblock %}