{# src/Phil/UserBundle/Resources/views/Security/login.html.twig #}
{% extends 'PhilUserBundle::layout.html.twig' %}

{% block title %}philmowatt.com - login{% endblock %}

{% block content %}
    <h2>Login</h2>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    {{ form(form) }}

    <p><a href="{{ path('user_forgotPassword') }}">Forgot Password?</a></p>
{% endblock %}

{% block footer %}
    <p>Website design, layout, and maintenence preformed by Phil Mowatt.</p>
{% endblock %}
