{# src/Phil/UserBundle/Resources/views/Security/login.html.twig #}
{% extends 'PhilUserBundle::layout.html.twig' %}

{% block title %}philmowatt.com - login{% endblock %}

{% block content %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    {{ form(form) }}
{% endblock %}