{# src/Phil/UserBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block submenu %}
    {% render controller("PhilUserBundle:Menu:sidebar") %}
{% endblock %}

{% block footer %}
    <p>Website design, layout, and maintenence preformed by Phil Mowatt.</p>
{% endblock %}