{# src/Phil/UserBundle/Resources/views/User/changePassword.html.twig #}
{% extends 'PhilUserBundle::layout.html.twig' %}

{% block title %}philmowatt.com - change password{% endblock %}

{% block content %}
    <h2>Change Password</h2>
    {{ form(form) }}
{% endblock %}
