{# src/Phil/UserBundle/Resources/views/User/register.html.twig #}
{% extends 'PhilUserBundle::layout.html.twig' %}

{% block title %}philmowatt.com - register{% endblock %}

{% block content %}
    <h2>Register</h2>
    {{ form(form) }}
{% endblock %}
