{# src/Phil/UserBundle/Resources/views/User/update.html.twig #}
{% extends 'PhilUserBundle::layout.html.twig' %}

{% block title %}philmowatt.com - update user{% endblock %}

{% block content %}
    <a href="{{ path('user_changepassword') }}">Change Password</a>
    {{ form(form) }}
{% endblock %}