{# src/Phil/UserBundle/Resources/views/User/update.html.twig #}
{% extends 'PhilUserBundle::layout.html.twig' %}

{% block title %}philmowatt.com - update profile{% endblock %}

{% block content %}
    <h2>Update Profile</h2>
    <a href="{{ path('user_changepassword') }}">Change Password</a>
    {{ form(form) }}
{% endblock %}

{% block footer %}
    <p>Website design, layout, and maintenence preformed by Phil Mowatt.</p>
{% endblock %}